#delete{
    margin-top: 10px;
    margin-right: 10px;
    color:red;
}

#details{
    position:sticky;
    top: 25%;
    left: 100%;
    width:30em;
    height:auto;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -2em; /*set to a negative number 1/2 of your width*/
}