
<div class="formation container">
<div class="intro row ">
    <div class="col-md-6">
        <h2>Devouvrez Nos Formations</h2>
        <p>Apprenez Avec nos formateur a Stagii des formations que vous aide a trouver et passer meilleur stage</p>
        <button class="btn btn-primary">Choisir Un Parcours</button>
    </div>
    <div class="col-md-6">
        <img src="../../../assets/img/formation.jpg" alt="presentation">
    </div>
</div>
<hr>

<div class="whyus">

</div>

<div class="filter ">
    <h3>Dans quel domaine souhaitez-vous vous former ?</h3>
    <div class="NosDomaine">
        <a href="">Developpement</a>
        <a href="">Data</a>
        <a href="">Marketing</a>
        <a href="">Business</a>
        <a href="">Design</a>
        <a href="">RH & Gestion</a>
        <a href="">Gestion de projet</a>
        <a href="">Bureautique</a>
    </div>
</div>
<hr>

<div class="row row-cols-1 row-cols-md-3 g-4" >
     <app-card-formation [formation]="f" *ngFor="let f of formations"></app-card-formation>
   
</div>