<nav class="navbar">
    <a href="#" class="navbar-brand"><div class="title">
        <h1>STAGII</h1></div></a>
    <ul class="nav-links">
        <li><a class="nav-link" href="#">Home</a></li>
        <li><a class="nav-link" routerLink="stages">Stages</a></li>
        <li><a class="nav-link" href="#">Quiz</a></li>
        <li><a class="nav-link" routerLink="formations">Formation</a></li>
    </ul>
    <ul class="nav-links" *ngIf="!isLoggedin">
        <li><a class="nav-link" routerLink="connexion" > Sign in</a></li>
        <li><a class="nav-link" routerLink="inscription" > Sign up</a></li>
    </ul>
    <ul class="nav-links" *ngIf="isLoggedin">
        <li><a routerLink="profile" class="nav-link"> Profile </a></li>
        <li class=" nav-link" style="cursor: pointer;" id="logout" (click)="logout.emit(true)">Deconnexion</li>
    </ul>

</nav>