<section class="section services-section" id="services">
    <div class="container aside-formations">
        <div class="row">
            <div >
                <div class="section-title">
                    <h2>You May Be Interested</h2>
                </div>
            </div>
        </div>
        <div >
            <!-- feaure box -->
            <div  >
                <div class="feature-box-1">
                   <img src="../../../assets/img/phpformation.webp" alt="image de formation" width="200px">
                    <div class="feature-content">
                    </div>
                </div>
            </div>
            <!-- / -->
            
        </div>
    </div>
</section>